body{font-family:sans-serif;font-size:13px;margin:0}
h1{margin:0}
h2{margin:0}
.widget ul{margin:0}
.widget{margin:0;padding:0}
.section{margin:0;padding:0}
a,a:visited{color:#279}
a:hover{text-decoration:underline}
a{text-decoration:none}
.Header{border-bottom:2px solid #9C6;padding:31px 5px;font-size:3.5em;font-weight:400}
.Header:first-letter{color:#360}
.Header a{color:#9C6}
#m{height:36px}
#sBtn{height:36px;font-size:1.5em}
#sb2{float:left}
.ft{float:left}
#sb3>#sb2{float:left}
.gp div{float:left}
#sBtn,#sb{float:right}
#fbP{height:30px}
#co{padding:25px 5px}
.separator>a{margin:0!important}
.post-body img{height:auto;max-width:97%;z-index:-1}
table.tr-caption-container{padding:4px;margin-bottom:8px}
td.tr-caption{font-size:80%}
.ll a{display:block;padding:0 0 12px}
.cl a{float:left;background-color:#222;padding:5px 9px;margin:4px}
#main-wrapper{width:58.5%;float:left}
#sb{width:25%}
#sb2{width:16.5%}
.sidebar .wc{padding:9px}
.sidebar h2{background-color:#9C6;color:#FFF;display:inline-block;font-size:13px;padding:8px}
.labelom{padding:8px 0}
.box{margin:0 auto;max-width:1200px}
.woo{margin:0 auto;overflow:hidden;position:relative}
.main .widget{margin:0 15px}
#f .widget{margin:0 15px}
.item .post-body{font-size:16px;line-height:24px;padding:0 10px;padding:0 0 0 10px\9;width:initial}
.item .post-title{border-left:15px solid #9C6;color:#555;font-size:2em;font-weight:400;padding:15px;margin-bottom:10px}
.pp li{list-style:none;display:inline-block}
.pp .p{float:left;margin:0 5px 10px 0}
.pp .t{line-height:21px}
.comm{min-height:210px}
.cf{border:0;background-color:#333;color:#FFF}
.cf:focus,.cf:hover{border:0}
.cfb{padding:6px}
#fc{background-color:#111;color:#FFF}
#fc a{color:#BBB}
.ft{width:25%}
#f ul{padding:0}
#f h2{border-bottom:5px solid #9C6;font-size:13px;margin-bottom:9px;padding:9px 0}
#cr{text-align:center}
.so{margin-top:9px;height:40px}
.fb{float:left;color:#FFF;padding:7px;margin-right:15px}
.tw{float:left;color:#FFF;padding:7px;margin-right:15px}
.tw{background:#19E}
.fb{background:#46B;font-weight:700}
.fb b{background:#FFF;color:#46b;padding:0 4px}
.g{float:left;padding:5px;color:#D43;font-weight:800;border:1px solid #CCC}
.gp{margin:15px 0;height:104px}
.pre,.n{display:block;float:left;text-align:center;width:49%;font-size:21px;padding:18px 0}
.pre b,.n b{color:#888}
.n{border-left:1px solid #DDD}
.adTc{padding:15px 0}
.adT{height:90px}
.adM{width:336px;height:280px}
.adMc{padding-bottom:12px}
.adML,.adU{height:150px}
.adMLc{padding:0 0 15px}
.i b{font-size:17px}
.updated,.post-feeds{display:none}
@media screen and (max-width:1200px){.box{max-width:800px}
#main-wrapper{float:none;width:100%}
#sb{float:right;margin-top:25px;width:48%}
#sb3>#sb2{display:block;width:48%}
.Header{padding:13px 0;text-align:center}
.adL,.adLc,#sb2,.soF{display:none}
}
@media screen and (max-width:800px){.box{max-width:600px}
.ft{width:100%}
}
@media screen and (max-width:600px){#sb,#sb3>#sb2{width:100%}
#co{padding:15px 0}
.item .post-title{border-left-width:10px;font-size:1.6em;padding:9px 5px}
.Header{padding:4px 0;font-size:2.4em}
.adT,.adML{height:185px}
.adU{height:245px}
}
@media screen and (max-width:375px){.adMc{margin-left:-10px}
}
@media screen and (max-width:320px){.adM{width:300px;height:250px}
.main .widget{margin:0}
}

.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10,.p11,.p12,.p13,.p14{background:url(https://4.bp.blogspot.com/-wQqhlsJioS4/XAc0OTOTR0I/AAAAAAABUfk/Orpn215dBCA5kJrGfr5NY__HotuAvRLsACLcBGAs/s1600/r.png);width:72px;height:72px}
.p1{background-position:0 0}
.p2{background-position:0 -73px}
.p3{background-position:0 -146px}
.p4{background-position:0 -219px}
.p5{background-position:0 -292px}
.p6{background-position:0 -365px}
.p7{background-position:0 -438px}
.p8{background-position:0 -511px}
.p9{background-position:0 -584px}
.p10{background-position:0 -657px}
.p11{background-position:0 -730px}
.p12{background-position:0 -803px}
.p13{background-position:0 -876px}
.p14{background-position:0 -949px}
